.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #62d7f7;
}

.img-wrapper {
  width: 100%;
  height: 370px;
  object-fit: cover;
}

.card-img {
  width: 100%;
  height: 100%;
}

.trending {
  font-size: 35px;
  font-weight: 600;
  color: #2c2626;
}

.card-text {
  font-size: 18px;
  color: darkslategray;
  font-weight: 700;
  margin-bottom: 5px;
}

.more {
  font-size: 16px;
  font-weight: 600;
  color: rebeccapurple;
  margin-bottom: 0px;
}


.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0rem 1rem;
  border-bottom: none;
}

.language {
  font-size: 16px;
  color: darkslategray;
  font-weight: 400;
  margin-bottom: 3px;
}

.language1 {
  font-size: 16px;
  color: black;
  font-weight: 500;
  margin-bottom: 3px;
}

.overview {
  font-size: 15px;
  font-weight: 400;
  color: rgb(136, 135, 135);
}






@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* Media quearies mobile responsive  start*/


@media only screen and (max-width: 768px) {
  .sidebar-box {
    padding: 25px 3px 16px;
  }

  .img-wrapper {
    height: 270px;
  }

  .trending {
    font-size: 25px;
  }
}


/* Media quearies mobile responsive  end*/